<head>
<script>
var someJavaScriptVar = '{{ templateAvailable }}';
var otherVar = '{{ templateAvailable }}';
</script>
</head>
<body>
<h1 align="center">Welcome to EmuBox</h1>
<h3 align="center">Please connect to one of the following with remote desktop.</h3>
<table style="width:50%" border="1" cellpadding="5" cellspacing="5" align="center">
<thead>
    <tr>
      <th>Name</th>
      <th>Port</th>
    </tr>
  </thead>
  <tbody>
{% for row in templateAvailable %}
<tr>
{% for cell in row %}
	<td>
	{{ cell }}
	</td>
{% endfor %}
</tr>
{% endfor %}
  </tbody>
</table>

</body>
</html>

